obj
bin
*.v2
*.v2
.vs/Lab-HMS/v16/.suo
*.json
*.props
*.targets
*.cache
*.cache
*.json
*.cache

*.json
*.props
*.cache
*.cache
*.json
*.cache
*.cache
*.cache
*.json
*.props
*.json
*.cache
*.cache
*.cache
*.json
*.props
*.json
*.cache
